doctype html
html
    head
        title= pageName
        link(rel='stylesheet', href='./style.css')
        //include ./style.css
    body
    table
        tr.Header
            td
                h1= info.nom + " " +info.prenom
                p.niveau= info.niveauEtude
                p= info.bioPersonnel
                //.contact
                //    div
                //        a(href="#"): img(src="./assets/icons8-contacts.svg" alt="tel")
                //        p= 0
                //            span= contact.nbTelephone
                //    div
                //        a(href="#"): img(src="./assets/icons8-google-plus.svg" alt="email")
                //        p= info.Email
            td(style="padding:5px; background-color:#F1C53C; text-align:center;")
                img(class="StudentImage" src="./assets/rayane.jpg" alt="student picture")
        tr
            td(colspan="2")
                h2 Pedagogique
        tr
            each projet in projets
                if (projet.type == 'Pédagogique')
                    td(colspan="2" class="project")
                                a(href='//google.com' target="_blank")
                                        h3.projectTitle= projet.title
                                            span.projectDate [
                                            span.projectDate= projet.date
                                            span.projectDate ]
                                div
                                    div
                                        p= projet.description
                                        div.technologies
                                    div.competence
                                         each competence in projet.competences
                                             div
                                                p= competence.ElemdeCompetence
        tr
            td(colspan="2")
                h2 Clubs
        tr
            each projet in projets
                if (projet.type == 'Club')
                    td(colspan="2" class="project")
                                a(href='//google.com' target="_blank")
                                        h3.projectTitle= projet.title
                                            span.projectDate [
                                            span.projectDate= projet.date
                                            span.projectDate ]
                                div
                                    div
                                        p= projet.description
                                        div.technologies
                                    div.competence
                                         each competence in projet.competences
                                            div
                                                p= competence.ElemdeCompetence
        tr
            td(colspan="2")
                h2 Personnels
        tr
            each projet in projets
                if (projet.type == 'Personnel')
                    td(colspan="2" class="project")
                                a(href='https://drive.google.com/drive/u/0/folders/1DuLtnvRDoJ_LM43aaOxrBvMTbiizhxx0' target="_blank")
                                        h3.projectTitle= projet.titre
                                            span.projectDate [
                                            span.projectDate= projet.date
                                            span.projectDate ]
                                div
                                    div
                                        p= projet.description
                                        div.technologies
                                    div.competence
                                         each competence in projet.competences
                                             div
                                                p= competence.ElemdeCompetence
        tr
            td(colspan="2" class="skills")
                div
                    span
                        if (contact.countFacebook != "")
                            a(href="#" target="_blank"): img(src="./assets/icons8-facebook.svg" alt="facebook")
                        if (contact.countGithub != "")
                            a(href="#" target="_blank"): img(src="./assets/icons8-linkedin.svg" alt="github")
                        if (contact.countLinkedIn != "")
                            a(href="www.google.com" target="_blank"): img(src="./assets/icons8-github.svg" alt="linkedin")
        tr
            td(colspan="2" class="rights")
                div
                    p powered by
                    img(class="logo" src="./assets/Ecareer2.png")


