doctype html
html
    head
        title= pageName
        link(rel='stylesheet', href='./style.css')
        //include ./style.css
    body
        header
            .studentInfo
                h1= info.nom + " " +info.prenom
                p.niveau= info.niveauEtude
                p= info.bioPersonnel
                .contact
                    div
                        a(href="#"): img(src="./assets/icons8-contacts.svg" alt="tel")
                        p= 0
                            span= contact.nbTelephone
                    div
                        a(href="#"): img(src="./assets/icons8-google-plus.svg" alt="email")
                        p= info.Email
            img(class="StudentImage" src="./assets/rayane.jpg" alt="student picture")
        main
            section.Education
                h2 Pedagogique
                ul.projects
                    each projet in projets
                        if (projet.type == 'PEDAGOGIQUE')
                            li.project
                                a(href='//google.com' target="_blank")
                                    div
                                        h3.projectTitle= projet.titre
                                            span.projectDate= projet.date
                                        p= projet.description
                                        div.technologies
                                    img(class= "bleuShape shape" src="./assets/bleu.svg" alt="bleu shape")



            section.Clubs
                h2 Clubs
                ul.projects
                    each projet in projets
                        if (projet.type == 'CLUB')
                            li.projet
                                div
                                    h3= projet.titre
                                        span= projet.date
                                    p= projet.description
                                    div.technologies
                                img(class= "bleuShape shape" src='/' + url alt="bleu shape")

            section.Extra
                h2 Personnels
                ul.projects
                    each projet in projets
                        if (project.type == 'PERSONNEL')
                            li.project
                                div
                                    h3= projet.titre
                                        span= projet.date
                                    p= projet.description
                                    div.technologies
                                img(class= "bleuShape shape" src='/' + url alt="bleu shape")
        footer
            div.skills
                div
                    if (contact.countFacebook != "")
                        a(href="#" target="_blank"): img(src="./assets/icons8-facebook.svg" alt="facebook")
                    if (contact.countGithub != "")
                        a(href="#" target="_blank"): img(src="./assets/icons8-linkedin.svg" alt="github")
                    if (contact.countLinkedIn != "")
                        a(href="#" target="_blank"): img(src="./assets/icons8-github.svg" alt="linkedin")


